@using Auc7.Models.StartModel;
@model Registration

@{
    ViewBag.Title = "Registration";
    Layout = null;
}

<h1>Registration</h1>
<form method="post" asp-controller="Web" asp-action="Register">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

   
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Зарегистрироваться" />
</form>